In [129]:
import pandas as pd
import numpy as np
from nba_api.stats.endpoints import AllTimeLeadersGrids

In [130]:
commonallplayers.CommonAllPlayers(is_only_current_season=1)

In [60]:
import sys

In [135]:
all_players = commonallplayers.CommonAllPlayers(is_only_current_season=0).get_data_frames()[0]

In [191]:
from nba_api.stats.endpoints import commonplayerinfo
commonplayerinfo.CommonPlayerInfo(player_id="203084").get_data_frames()[0]

   PERSON_ID FIRST_NAME LAST_NAME  ... DRAFT_ROUND DRAFT_NUMBER GREATEST_75_FLAG
0     203084   Harrison    Barnes  ...           1            7                N

[1 rows x 33 columns]

In [203]:
from nba_api.stats.endpoints import winprobabilitypbp
winprobabilitypbp.WinProbabilityPBP(game_id = "0022300827").get_data_frames()[0]

         GAME_ID  EVENT_NUM  HOME_PCT  ...  LOCATION  PCTIMESTRING  ISVISIBLE
0     0022300827        2.0   0.58808  ...                   12:00        1.0
1     0022300827        4.0   0.61352  ...         h         12:00        1.0
2     0022300827        NaN   0.61350  ...      None          None        NaN
3     0022300827        NaN   0.61348  ...      None          None        NaN
4     0022300827        NaN   0.61346  ...      None          None        NaN
...          ...        ...       ...  ...       ...           ...        ...
3011  0022300827        NaN       NaN  ...      None          None        NaN
3012  0022300827        NaN       NaN  ...      None          None        NaN
3013  0022300827        NaN       NaN  ...      None          None        NaN
3014  0022300827        NaN       NaN  ...      None          None        NaN
3015  0022300827      619.0       NaN  ...                    0:00        1.0

[3016 rows x 15 columns]

In [202]:
from nba_api.stats.endpoints import CumeStatsPlayerGames
CumeStatsPlayerGames(player_id="203084").get_data_frames()[0]

                              MATCHUP     GAME_ID
0        02/25/2024 Kings at Clippers  0022300827
1           02/22/2024 Spurs at Kings  0022300803
2         02/14/2024 Kings at Nuggets  0022300786
3            02/13/2024 Kings at Suns  0022300774
4         02/11/2024 Kings at Thunder  0022300760
5         02/09/2024 Nuggets at Kings  0022300746
6         02/07/2024 Pistons at Kings  0022300732
7       02/05/2024 Kings at Cavaliers  0022300714
8           02/03/2024 Kings at Bulls  0022300700
9          02/02/2024 Kings at Pacers  0022300691
10           01/31/2024 Kings at Heat  0022300678
11      01/29/2024 Kings at Grizzlies  0022300663
12      01/27/2024 Kings at Mavericks  0022300651
13       01/25/2024 Kings at Warriors  0022300632
14          01/22/2024 Hawks at Kings  0022300613
15         01/18/2024 Pacers at Kings  0022300583
16           01/16/2024 Kings at Suns  0022300567
17          01/14/2024 Kings at Bucks  0022300552
18          01/12/2024 Kings at 76ers  0022300532
19        01/10/2024 Kings at Hornets  0022300518
20        01/09/2024 Kings at Pistons  0022300512
21       01/07/2024 Pelicans at Kings  0022300500
22        01/05/2024 Raptors at Kings  0022300492
23          01/03/2024 Magic at Kings  0022300476
24        01/02/2024 Hornets at Kings  0022300464
25      12/31/2023 Kings at Grizzlies  0022300449
26          12/29/2023 Kings at Hawks  0022300431
27  12/26/2023 Kings at Trail Blazers  0022300413
28   12/23/2023 Timberwolves at Kings  0022300400
29           12/22/2023 Suns at Kings  0022300387
30        12/20/2023 Celtics at Kings  0022300373
31        12/18/2023 Wizards at Kings  0022300358
32           12/16/2023 Jazz at Kings  0022300342
33        12/14/2023 Thunder at Kings  0022300324
34       12/12/2023 Kings at Clippers  0022300309
35           12/11/2023 Nets at Kings  0022300303
36           12/08/2023 Kings at Suns  0022301228
37       12/04/2023 Pelicans at Kings  0022301204
38        12/02/2023 Nuggets at Kings  0022300290
39       11/29/2023 Clippers at Kings  0022300264
40       11/28/2023 Warriors at Kings  0022300060
41   11/24/2023 Kings at Timberwolves  0022300050
42       11/22/2023 Kings at Pelicans  0022300233
43       11/20/2023 Kings at Pelicans  0022300222
44      11/19/2023 Kings at Mavericks  0022300212
45          11/17/2023 Kings at Spurs  0022300032
46         11/15/2023 Kings at Lakers  0022300198
47      11/13/2023 Cavaliers at Kings  0022300191
48        11/10/2023 Thunder at Kings  0022300016
49  11/08/2023 Trail Blazers at Kings  0022300170
50        11/06/2023 Kings at Rockets  0022300153
51        11/04/2023 Kings at Rockets  0022300137
52       11/01/2023 Kings at Warriors  0022300126
53         10/29/2023 Lakers at Kings  0022300100
54       10/27/2023 Warriors at Kings  0022300087
55           10/25/2023 Kings at Jazz  0022300072

In [185]:
from nba_api.stats.endpoints import CommonTeamRoster
# This is good
CommonTeamRoster(team_id="1610612758", season="2020-21").get_data_frames()[0]

        TeamID SEASON  ... PLAYER_ID                 HOW_ACQUIRED
0   1610612758   2020  ...   1630169                         None
1   1610612758   2020  ...   1630186                         None
2   1610612758   2020  ...   1628368        #5 Pick in 2017 Draft
3   1610612758   2020  ...   1629657                         None
4   1610612758   2020  ...    203090                         None
5   1610612758   2020  ...   1629056                         None
6   1610612758   2020  ...   1629713                         None
7   1610612758   2020  ...   1630218                         None
8   1610612758   2020  ...   1627745                         None
9   1610612758   2020  ...    202355                         None
10  1610612758   2020  ...   1626158                         None
11  1610612758   2020  ...   1629663                         None
12  1610612758   2020  ...   1627741                         None
13  1610612758   2020  ...   1629002                         None
14  1610612758   2020  ...   1628963                         None
15  1610612758   2020  ...    203084  Traded from DAL on 02/07/19
16  1610612758   2020  ...   1626153                         None

[17 rows x 16 columns]

In [139]:
all_players

      PERSON_ID  ... OTHERLEAGUE_EXPERIENCE_CH
0         76001  ...                        00
1         76002  ...                        00
2         76003  ...                        00
3            51  ...                        00
4          1505  ...                        00
...         ...  ...                       ...
4909    1627790  ...                        01
4910      78647  ...                        00
4911      78648  ...                        00
4912    1627826  ...                        01
4913      78650  ...                        00

[4914 rows x 16 columns]

In [186]:
import numpy as np
import pandas as pd

In [187]:
from nba_api.stats.endpoints import teamdetails, teamplayerdashboard, commonallplayers

def get_team_roster(team_id):
    # Get all players who have played for the team
    players_info = commonallplayers.CommonAllPlayers(is_only_current_season=1)
    players_info_data = players_info.get_data_frames()[0]
    
    # Filter players by team ID
    roster = players_info_data[players_info_data["TEAM_ID"] == team_id]
    
    return roster

def get_team_stats(team_id, season):
    # Get team stats for a specific season
    team_stats = teamplayerdashboard.TeamPlayerDashboard(team_id=team_id, season=season)
    team_stats_data = team_stats.get_data_frames()[0]
    
    # Extract team stats
    team_stats = team_stats_data
    
    return team_stats

In [188]:
from nba_api.stats.static import teams

def get_team_ids():
    # Retrieve all NBA teams
    nba_teams = teams.get_teams()
    
    team_ids = {}
    # Extract team IDs
    for team in nba_teams:
        team_ids[team["full_name"]] = team['id']
    
    return team_ids

In [189]:
get_team_ids()

{'Atlanta Hawks': 1610612737,
 'Boston Celtics': 1610612738,
 'Cleveland Cavaliers': 1610612739,
 'New Orleans Pelicans': 1610612740,
 'Chicago Bulls': 1610612741,
 'Dallas Mavericks': 1610612742,
 'Denver Nuggets': 1610612743,
 'Golden State Warriors': 1610612744,
 'Houston Rockets': 1610612745,
 'Los Angeles Clippers': 1610612746,
 'Los Angeles Lakers': 1610612747,
 'Miami Heat': 1610612748,
 'Milwaukee Bucks': 1610612749,
 'Minnesota Timberwolves': 1610612750,
 'Brooklyn Nets': 1610612751,
 'New York Knicks': 1610612752,
 'Orlando Magic': 1610612753,
 'Indiana Pacers': 1610612754,
 'Philadelphia 76ers': 1610612755,
 'Phoenix Suns': 1610612756,
 'Portland Trail Blazers': 1610612757,
 'Sacramento Kings': 1610612758,
 'San Antonio Spurs': 1610612759,
 'Oklahoma City Thunder': 1610612760,
 'Toronto Raptors': 1610612761,
 'Utah Jazz': 1610612762,
 'Memphis Grizzlies': 1610612763,
 'Washington Wizards': 1610612764,
 'Detroit Pistons': 1610612765,
 'Charlotte Hornets': 1610612766}

In [163]:
# Specify team ID and season
team_id = 1610612758  # Atlanta Hawks
season = '2023-24'

# Get team roster
roster = get_team_roster(team_id)
print("Team Roster:")
print(roster[["DISPLAY_FIRST_LAST", "PERSON_ID"]])
    

# Get team stats
team_stats = get_team_stats(team_id, season)
print("\nTeam Stats for Season", season)
team_stats

Team Roster:
    DISPLAY_FIRST_LAST  PERSON_ID
29     Harrison Barnes     203084
135       Chris Duarte    1630537
142    Kessler Edwards    1630556
143         Keon Ellis    1631165
153        Jordan Ford    1630259
156       De'Aaron Fox    1628368
231      Kevin Huerter    1628989
261        Colby Jones    1641732
264        Mason Jones    1630222
291           Alex Len     203458
308         Trey Lyles    1626168
331       JaVale McGee     201580
347    Davion Mitchell    1630558
351         Malik Monk    1628370
363      Keegan Murray    1631099
440   Domantas Sabonis    1627734
463      Jalen Slawson    1641771
510     Sasha Vezenkov    1628426

Team Stats for Season 2023-24

  GROUP_SET     TEAM_ID         TEAM_NAME  ... PFD_RANK  PTS_RANK  PLUS_MINUS_RANK
0   Overall  1610612758  Sacramento Kings  ...        1         1                1

[1 rows x 56 columns]