In [3]:
import pandas as pd
import numpy as np
from nba_api.stats.endpoints import AllTimeLeadersGrids

In [26]:
commonallplayers.CommonAllPlayers(is_only_current_season=1)

     PERSON_ID  ... OTHERLEAGUE_EXPERIENCE_CH
0      1630173  ...                        00
1       203500  ...                        00
2      1628389  ...                        00
3      1630534  ...                        00
4      1630583  ...                        01
..         ...  ...                       ...
556     201152  ...                        00
557    1629027  ...                        00
558    1630209  ...                        01
559     203469  ...                        00
560    1627826  ...                        01

[561 rows x 16 columns]

In [55]:
commonallplayers.CommonAllPlayers(is_only_current_season=1).get_data_frames()[0]

     PERSON_ID  ... OTHERLEAGUE_EXPERIENCE_CH
0      1630173  ...                        00
1       203500  ...                        00
2      1628389  ...                        00
3      1630534  ...                        00
4      1630583  ...                        01
..         ...  ...                       ...
556     201152  ...                        00
557    1629027  ...                        00
558    1630209  ...                        01
559     203469  ...                        00
560    1627826  ...                        01

[561 rows x 16 columns]

In [37]:
from nba_api.stats.endpoints import teamdetails, teamplayerdashboard, commonallplayers

def get_team_roster(team_id, season):
    # Get all players who have played for the team
    players_info = commonallplayers.CommonAllPlayers(is_only_current_season=1)
    players_info_data = players_info.get_data_frames()[0]
    
    # Filter players by team ID
    roster = players_info_data[players_info_data["TEAM_ID"] == team_id]
    
    return roster

def get_team_stats(team_id, season):
    # Get team stats for a specific season
    team_stats = teamplayerdashboard.TeamPlayerDashboard(team_id=team_id, season=season)
    team_stats_data = team_stats.get_data_frames()[0]
    
    # Extract team stats
    team_stats = team_stats_data
    
    return team_stats

In [17]:
from nba_api.stats.static import teams

def get_team_ids():
    # Retrieve all NBA teams
    nba_teams = teams.get_teams()
    
    team_ids = {}
    # Extract team IDs
    for team in nba_teams:
        team_ids[team["full_name"]] = team['id']
    
    return team_ids

In [18]:
get_team_ids()

{'Atlanta Hawks': 1610612737,
 'Boston Celtics': 1610612738,
 'Cleveland Cavaliers': 1610612739,
 'New Orleans Pelicans': 1610612740,
 'Chicago Bulls': 1610612741,
 'Dallas Mavericks': 1610612742,
 'Denver Nuggets': 1610612743,
 'Golden State Warriors': 1610612744,
 'Houston Rockets': 1610612745,
 'Los Angeles Clippers': 1610612746,
 'Los Angeles Lakers': 1610612747,
 'Miami Heat': 1610612748,
 'Milwaukee Bucks': 1610612749,
 'Minnesota Timberwolves': 1610612750,
 'Brooklyn Nets': 1610612751,
 'New York Knicks': 1610612752,
 'Orlando Magic': 1610612753,
 'Indiana Pacers': 1610612754,
 'Philadelphia 76ers': 1610612755,
 'Phoenix Suns': 1610612756,
 'Portland Trail Blazers': 1610612757,
 'Sacramento Kings': 1610612758,
 'San Antonio Spurs': 1610612759,
 'Oklahoma City Thunder': 1610612760,
 'Toronto Raptors': 1610612761,
 'Utah Jazz': 1610612762,
 'Memphis Grizzlies': 1610612763,
 'Washington Wizards': 1610612764,
 'Detroit Pistons': 1610612765,
 'Charlotte Hornets': 1610612766}

In [41]:
# Specify team ID and season
team_id = 1610612758  # Atlanta Hawks
season = '2023-24'

# Get team roster
roster = get_team_roster(team_id)
print("Team Roster:")
for player in roster["DISPLAY_FIRST_LAST"]:
    print(player)

# Get team stats
team_stats = get_team_stats(team_id, season)
print("\nTeam Stats for Season", season)
team_stats

Team Roster:
Harrison Barnes
Chris Duarte
Kessler Edwards
Keon Ellis
Jordan Ford
De'Aaron Fox
Kevin Huerter
Colby Jones
Mason Jones
Alex Len
Trey Lyles
JaVale McGee
Davion Mitchell
Malik Monk
Keegan Murray
Domantas Sabonis
Jalen Slawson
Sasha Vezenkov

Team Stats for Season 2023-24

  GROUP_SET     TEAM_ID         TEAM_NAME  ... PFD_RANK  PTS_RANK  PLUS_MINUS_RANK
0   Overall  1610612758  Sacramento Kings  ...        1         1                1

[1 rows x 56 columns]