In [129]:
import pandas as pd
import numpy as np
import sys
from nba_api.stats.endpoints import AllTimeLeadersGrids, commonplayerinfo, CommonTeamRoster
from datetime import datetime, timedelta
import time

In [187]:
from nba_api.stats.endpoints import teamdetails, teamplayerdashboard, commonallplayers

def get_team_roster(team_id):
    # Get all players who have played for the team
    players_info = commonallplayers.CommonAllPlayers(is_only_current_season=1)
    players_info_data = players_info.get_data_frames()[0]
    
    # Filter players by team ID
    roster = players_info_data[players_info_data["TEAM_ID"] == team_id]
    
    return roster

def get_team_stats(team_id, season):
    # Get team stats for a specific season
    team_stats = teamplayerdashboard.TeamPlayerDashboard(team_id=team_id, season=season)
    team_stats_data = team_stats.get_data_frames()[0]
    
    # Extract team stats
    team_stats = team_stats_data
    
    return team_stats

In [188]:
from nba_api.stats.static import teams

def get_team_ids():
    # Retrieve all NBA teams
    nba_teams = teams.get_teams()
    
    team_ids = {}
    # Extract team IDs
    for team in nba_teams:
        team_ids[team["full_name"]] = team['id']
    
    return team_ids

In [307]:
def get_all_games(start_year = "2017-9-1", end_year = None, teams = "all"):
    start_year = datetime.strptime(start_year, "%Y-%m-%d")
    team_ids = get_team_ids()
    dfs = []
    if teams == "all":
        for team, team_id in team_ids.items():
            print(f"Attempting to collect {team}")
            gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team_id, timeout=60)
            games = gamefinder.get_data_frames()[0]
            games["GAME_DATE"] = games["GAME_DATE"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
            games = games[games["GAME_DATE"] >= start_year]
            dfs.append(games)
            print(f"Successfully collected {team}")
            time.sleep(2.5)
        return dfs
    else:
        team_id = team_ids[teams]
        gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team_id)
        games = gamefinder.get_data_frames()[0]
        games["GAME_DATE"] = games["GAME_DATE"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
        games = games[games["GAME_DATE"] >= start_year]
        return games

In [1142]:
def mark_birthday_games(games_df, players_df, day_range):
   
    birthday_indexes = []
    games_df["birthday_game"] = 0

    for index, player_row in players_df.iterrows():
        player_team = player_row["Team"]
        player_birthday = datetime.strptime(player_row["Birthday"], "%Y-%m-%d")
        
        birthday_range_start = player_birthday - timedelta(days=day_range)
        birthday_range_end = player_birthday + timedelta(days=day_range)
        
        games_to_check = games_df[(games_df["home_team_abbrev"] == player_team) | (games_df["visit_team_abbrev"] == player_team)]
        birthday_games = games_to_check[(games_to_check["game_date"].dt.month == birthday_range_start.month) & 
                                        (games_to_check['game_date'].dt.day >= birthday_range_start.day) &
                                        (games_to_check['game_date'].dt.day <= birthday_range_end.day)]
        if len(birthday_games.index) >= 1:
            birthday_indexes.append([*birthday_games.index])
    
    for i in birthday_indexes:
        # games_df["birthday_game"].iloc[i] = 1
        games_df.loc[i, "birthday_game"] = 1
        
    return games_df

In [308]:
all_games = get_all_games(start_year = "2017-9-1")
all_games = pd.concat(all_games)
all_games

Attempting to collect Atlanta Hawks
Successfully collected Atlanta Hawks
Attempting to collect Boston Celtics
Successfully collected Boston Celtics
Attempting to collect Cleveland Cavaliers
Successfully collected Cleveland Cavaliers
Attempting to collect New Orleans Pelicans
Successfully collected New Orleans Pelicans
Attempting to collect Chicago Bulls
Successfully collected Chicago Bulls
Attempting to collect Dallas Mavericks
Successfully collected Dallas Mavericks
Attempting to collect Denver Nuggets
Successfully collected Denver Nuggets
Attempting to collect Golden State Warriors
Successfully collected Golden State Warriors
Attempting to collect Houston Rockets
Successfully collected Houston Rockets
Attempting to collect Los Angeles Clippers
Successfully collected Los Angeles Clippers
Attempting to collect Los Angeles Lakers
Successfully collected Los Angeles Lakers
Attempting to collect Miami Heat
Successfully collected Miami Heat
Attempting to collect Milwaukee Bucks
Successfully collected Milwaukee Bucks
Attempting to collect Minnesota Timberwolves
Successfully collected Minnesota Timberwolves
Attempting to collect Brooklyn Nets
Successfully collected Brooklyn Nets
Attempting to collect New York Knicks
Successfully collected New York Knicks
Attempting to collect Orlando Magic
Successfully collected Orlando Magic
Attempting to collect Indiana Pacers
Successfully collected Indiana Pacers
Attempting to collect Philadelphia 76ers
Successfully collected Philadelphia 76ers
Attempting to collect Phoenix Suns
Successfully collected Phoenix Suns
Attempting to collect Portland Trail Blazers
Successfully collected Portland Trail Blazers
Attempting to collect Sacramento Kings
Successfully collected Sacramento Kings
Attempting to collect San Antonio Spurs
Successfully collected San Antonio Spurs
Attempting to collect Oklahoma City Thunder
Successfully collected Oklahoma City Thunder
Attempting to collect Toronto Raptors
Successfully collected Toronto Raptors
Attempting to collect Utah Jazz
Successfully collected Utah Jazz
Attempting to collect Memphis Grizzlies
Successfully collected Memphis Grizzlies
Attempting to collect Washington Wizards
Successfully collected Washington Wizards
Attempting to collect Detroit Pistons
Successfully collected Detroit Pistons
Attempting to collect Charlotte Hornets
Successfully collected Charlotte Hornets

    SEASON_ID     TEAM_ID TEAM_ABBREVIATION  ... TOV  PF PLUS_MINUS
0       22023  1610612737               ATL  ...  17  15       27.8
1       22023  1610612737               ATL  ...   9  17       17.0
2       22023  1610612737               ATL  ...   9  11       -2.0
3       22023  1610612737               ATL  ...  16  20      -23.0
4       22023  1610612737               ATL  ...  11  20      -10.0
..        ...         ...               ...  ...  ..  ..        ...
580     12017  1610612766               CHA  ...  21  21       15.0
581     12017  1610612766               CHA  ...  14  14       -8.0
582     12017  1610612766               CHA  ...  14  22       -3.0
583     12017  1610612766               CHA  ...  14  19        5.0
584     12017  1610612766               CHA  ...  19  17       -6.0

[18803 rows x 28 columns]

In [376]:
team_names = {
    'Atlanta Hawks': 'ATL',
    'Boston Celtics': 'BOS',
    'Cleveland Cavaliers': 'CLE',
    'New Orleans Pelicans': 'NOP',
    'Chicago Bulls': 'CHI',
    'Dallas Mavericks': 'DAL',
    'Denver Nuggets': 'DEN',
    'Golden State Warriors': 'GSW',
    'Houston Rockets': 'HOU',
    'LA Clippers': 'LAC',
    'Los Angeles Lakers': 'LAL',
    'Miami Heat': 'MIA',
    'Milwaukee Bucks': 'MIL',
    'Minnesota Timberwolves': 'MIN',
    'Brooklyn Nets': 'BKN',
    'New York Knicks': 'NYK',
    'Orlando Magic': 'ORL',
    'Indiana Pacers': 'IND',
    'Philadelphia 76ers': 'PHI',
    'Phoenix Suns': 'PHX',
    'Portland Trail Blazers': 'POR',
    'Sacramento Kings': 'SAC',
    'San Antonio Spurs': 'SAS',
    'Oklahoma City Thunder': 'OKC',
    'Toronto Raptors': 'TOR',
    'Utah Jazz': 'UTA',
    'Memphis Grizzlies': 'MEM',
    'Washington Wizards': 'WAS',
    'Detroit Pistons': 'DET',
    'Charlotte Hornets': 'CHA'
}

In [1319]:
all_games.head()

  SEASON_ID     TEAM_ID TEAM_ABBREVIATION  ... TOV  PF PLUS_MINUS
0     22023  1610612737               ATL  ...  17  15       27.8
1     22023  1610612737               ATL  ...   9  17       17.0
2     22023  1610612737               ATL  ...   9  11       -2.0
3     22023  1610612737               ATL  ...  16  20      -23.0
4     22023  1610612737               ATL  ...  11  20      -10.0

[5 rows x 28 columns]

In [1119]:
drop_games = pd.read_csv("~/Documents/GitHub/CloudComputing/DroppedGames.csv").drop("Unnamed: 0", axis = 1)
all_games_filtered_columns = all_games[["TEAM_NAME", "GAME_DATE", "MATCHUP", "WL"]]
all_games_filtered_columns = all_games_filtered_columns.reset_index()
all_games_filtered_columns = all_games_filtered_columns.drop("index", axis = 1)
all_games_filtered_columns["TEAM_NAME"] = all_games_filtered_columns["TEAM_NAME"].apply(lambda x: team_names[x])
all_games_filtered_columns = all_games_filtered_columns[~all_games_filtered_columns["MATCHUP"].isin(drop_games["0"])]
all_games_filtered_columns

      TEAM_NAME  GAME_DATE      MATCHUP WL
0           ATL 2024-02-27  ATL vs. UTA  W
1           ATL 2024-02-25  ATL vs. ORL  W
2           ATL 2024-02-23  ATL vs. TOR  L
3           ATL 2024-02-14    ATL @ CHA  L
4           ATL 2024-02-12  ATL vs. CHI  L
...         ...        ...          ... ..
18798       CHA 2017-10-13  CHA vs. DAL  W
18799       CHA 2017-10-11  CHA vs. BOS  L
18800       CHA 2017-10-09    CHA @ MIA  L
18801       CHA 2017-10-04    CHA @ DET  W
18802       CHA 2017-10-02    CHA @ BOS  L

[18740 rows x 4 columns]

In [1120]:
betting_lines = pd.read_csv("BettingData.csv")

betting_lines = betting_lines.drop("Unnamed: 0", axis = 1)

betting_lines["game_date"] = pd.to_datetime(betting_lines["game_date"], format='%Y-%m-%d', errors="coerce")

betting_lines.head()

   game_date home_team_abbrev  ... favorite_covered  underdog_covered
0 2017-10-17              CLE  ...                0                 1
1 2017-10-17              GSW  ...                0                 1
2 2017-10-18              DET  ...                1                 0
3 2017-10-18              IND  ...                1                 0
4 2017-10-18              ORL  ...                0                 1

[5 rows x 14 columns]

In [1344]:
player_birthday_df.to_csv("PlayerBirthdayDF.csv", index = False)

In [1346]:
player_birthday_df.columns

Index(['Name', 'Team', 'Birthday', 'From_Year', 'To_Year', 'id'], dtype='object')

In [1345]:
merged_data["game_date"] = pd.to_datetime(merged_data["game_date"])
player_birthday_df["Birthday"] = pd.to_datetime(player_birthday_df["Birthday"])

       game_date home_team_abbrev  ... birthday_game  team_covered
0     2017-10-17              CLE  ...             0             0
1     2017-10-17              GSW  ...             0             0
2     2017-10-18              DET  ...             0             1
3     2017-10-18              IND  ...             0             1
4     2017-10-18              ORL  ...             0             1
...          ...              ...  ...           ...           ...
16590 2024-02-27              ATL  ...             0             0
16591 2024-02-27              BOS  ...             0             0
16592 2024-02-27              NYK  ...             0             1
16593 2024-02-27              MIL  ...             1             0
16594 2024-02-27              MIN  ...             0             1

[16595 rows x 19 columns]

In [978]:
active_player_birthdays = []
count = 0
for player_id in filtered_player_birthdays["id"]:
    count += 1
    if count % 100 == 0:
        print("Starting Sleep")
        time.sleep(300)
    player_info = commonplayerinfo.CommonPlayerInfo(player_id = player_id, timeout=60).get_data_frames()[0]
    time.sleep(.5)
    try:
        if (2017 <= player_info["FROM_YEAR"][0] <= 2024) or (2017 <= player_info["TO_YEAR"][0] <= 2024):
            print(f"Collected {player_info['DISPLAY_FIRST_LAST'][0]}")
            active_player_birthdays.append((player_info["DISPLAY_FIRST_LAST"][0], player_info["TEAM_ABBREVIATION"][0], player_info["BIRTHDATE"][0].split("T")[0], player_info["FROM_YEAR"][0], player_info["TO_YEAR"][0]))
    except TypeError:
        continue
        
print("Completed Collection")

Collected Deng Adel
Collected Santi Aldama
Collected Cole Aldrich
Collected Rawle Alkins
Collected Kadeem Allen
Collected Jose Alvarado
Collected Justin Anderson
Collected Giannis Antetokounmpo
Collected Kostas Antetokounmpo
Collected Ryan Arcidiacono
Collected Darrell Arthur
Collected Jamel Artis
Collected D.J. Augustin
Collected Deni Avdija
Collected Joel Ayayi
Collected Marvin Bagley III
Collected Amari Bailey
Collected Ron Baker
Collected Wade Baldwin IV
Collected Patrick Baldwin Jr.
Collected Lonzo Ball
Collected Paolo Banchero
Collected Dalano Banton
Collected Will Barton
Collected Charles Bassey
Collected Emoni Bates
Collected Keita Bates-Diop
Collected Nicolas Batum
Collected Aron Baynes
Collected Malik Beasley
Collected Michael Beasley
Collected Marco Belinelli
Collected Jordan Bell
Collected Dragan Bender
Collected Davis Bertans
Collected Saddiq Bey
Collected Tyler Bey
Collected Onuralp Bitim
Collected Anthony Black
Collected Tarik Black
Collected Eric Bledsoe
Collected Keljin Blevins
Collected Trevon Bluiett
Collected Buddy Boeheim
Collected Bol Bol
Collected Jonah Bolden
Collected Joel Bolomboy
Collected Jordan Bone
Collected Isaac Bonga
Collected Devin Booker
Collected Trevor Booker
Collected Brandon Boston Jr.
Collected Chris Boucher
Collected Avery Bradley
Collected Tony Bradley
Collected Ignas Brazdeikis
Collected Corey Brewer
Collected Miles Bridges
Collected Amida Brimah
Collected Isaiah Briscoe
Collected Malcolm Brogdon
Collected Aaron Brooks
Collected Dillon Brooks
Collected MarShon Brooks
Collected Kobe Brown
Collected Markel Brown
Collected Sterling Brown
Collected Charlie Brown Jr.
Collected Chaundee Brown Jr.
Collected Nicolas Brussino
Collected Shaq Buchanan
Collected Reggie Bullock Jr.
Collected Trey Burke
Collected Deonte Burton
Starting Sleep
Collected John Butler Jr.
Collected Dwight Buycks
Collected Jamal Cain
Collected Kentavious Caldwell-Pope
Collected Facundo Campazzo
Collected Vlatko Cancar
Collected Vernon Carey Jr.
Collected Alex Caruso
Collected Troy Caupain
Collected Tyler Cavanaugh
Collected Joe Chealey
Collected Zylan Cheatham
Collected Chris Chiozza
Collected Max Christie
Collected Josh Christopher
Collected Sidy Cissoko
Collected Gary Clark
Collected Ian Clark
Collected Gian Clavell
Collected Antonius Cleveland
Collected Zach Collins
Collected Bonzie Colson
Collected Pat Connaughton
Collected Quinn Cook
Collected Jack Cooley
Collected Robert Covington
Collected Allen Crabbe
Collected Torrey Craig
Collected Jarrett Culver
Collected Stephen Curry
Collected Dyson Daniels
Collected Anthony Davis
Collected Deyonta Davis
Collected Javin DeLaurier
Collected Gabriel Deck
Collected Malcolm Delaney
Collected Angel Delgado
Collected Dexter Dennis
Collected Marcus Derrickson
Collected Donte DiVincenzo
Collected Moussa Diabate
Collected Mamadi Diakite
Collected Gradey Dick
Collected Gorgui Dieng
Collected Spencer Dinwiddie
Collected Luka Doncic
Collected Tyler Dorsey
Collected Ayo Dosunmu
Collected Sekou Doumbouya
Collected Milton Doyle
Collected PJ Dozier
Collected Larry Drew II
Collected Kris Dunn
Collected Jalen Duren
Collected Jarell Eddie
Collected Carsen Edwards
Collected Rob Edwards
Collected Vincent Edwards
Collected Henry Ellenson
Collected Wayne Ellington
Collected Keon Ellis
Collected Joel Embiid
Collected Drew Eubanks
Collected Tacko Fall
Collected Kenneth Faried
Collected Kay Felder
Collected Simone Fontecchio
Collected Aleem Ford
Collected Michael Foster Jr.
Collected Evan Fournier
Collected De'Aaron Fox
Collected Robert Franks
Collected Tim Frazier
Starting Sleep
Collected Michael Frazier II
Collected Jimmer Fredette
Collected Wenyen Gabriel
Collected Langston Galloway
Collected Darius Garland
Collected Marcus Garrett
Collected Usman Garuba
Collected Luka Garza
Collected Marc Gasol
Collected Kaiser Gates
Collected Keyonte George
Collected Marcus Georges-Hunt
Collected Jonathan Gibson
Collected Eric Gordon
Collected Devonte' Graham
Collected Treveon Graham
Collected Jerami Grant
Collected Donte Grantham
Collected Draymond Green
Collected Gerald Green
Collected Jalen Green
Collected Josh Green
Collected Blake Griffin
Collected Marko Guduric
Collected Mouhamed Gueye
Collected Rui Hachimura
Collected Tyrese Haliburton
Collected Jordan Hall
Collected Tyler Hall
Collected R.J. Hampton
Collected Tyler Hansbrough
Collected Tim Hardaway Jr.
Collected Ron Harper Jr.
Collected Montrezl Harrell
Collected Aaron Harrison
Collected Andrew Harrison
Collected Josh Hart
Collected Sam Hauser
Collected Nigel Hayes
Collected Gordon Hayward
Collected Scoot Henderson
Collected Taylor Hendricks
Collected Myke Henry
Collected John Henson
Collected Dewan Hernandez
Collected Tyler Herro
Collected Mario Hezonja
Collected Buddy Hield
Collected Haywood Highsmith
Collected Malcolm Hill
Collected Solomon Hill
Collected Darrun Hilliard
Collected Jaylen Hoard
Collected D'Moi Hodge
Collected Justin Holiday
Collected John Holland
Collected Rondae Hollis-Jefferson
Collected Caleb Homesley
Collected Talen Horton-Tucker
Collected Caleb Houstan
Collected Dwight Howard
Collected Markus Howard
Collected William Howard
Collected Trevor Hudgins
Collected Josh Huestis
Collected Elijah Hughes
Collected Isaac Humphries
Collected De'Andre Hunter
Collected Andre Ingram
Collected Kyrie Irving
Collected Jaden Ivey
Collected Wes Iwundu
Collected GG Jackson
Starting Sleep
Collected Isaiah Jackson
Collected Josh Jackson
Collected Justin Jackson
Collected Andre Jackson Jr.
Collected Trayce Jackson-Davis
Collected Justin James
Collected LeBron James
Collected Jaime Jaquez Jr.
Collected DeJon Jarreau
Collected Al Jefferson
Collected John Jenkins
Collected Jonas Jerebko
Collected BJ Johnson
Collected Cameron Johnson
Collected Jalen Johnson
Collected James Johnson
Collected Keon Johnson
Collected Nikola Jokic
Collected Carlik Jones
Collected Jemerrio Jones
Collected Kai Jones
Collected Terrence Jones
Collected Tre Jones
Collected Derrick Jones Jr.
Collected Johnny Juzang
Collected Georgios Kalaitzakis
Collected Frank Kaminsky
Collected Braxton Key
Collected Stanton Kidd
Collected Sean Kilpatrick
Collected Louis King
Collected Corey Kispert
Collected Maxi Kleber
Collected Brandon Knight
Collected John Konchar
Collected Kosta Koufos
Collected Arnoldas Kulboka
Collected Rodions Kurucs
Collected Jake LaRavia
Collected Zach LaVine
Collected Skal Labissiere
Collected Anthony Lamb
Collected Jock Landale
Collected Romeo Langford
Collected Vic Law
Collected Ty Lawson
Collected Jake Layman
Collected Meyers Leonard
Collected Travis Leslie
Collected Justin Lewis
Collected Scottie Lewis
Collected Kira Lewis Jr.
Collected E.J. Liddell
Collected DeAndre Liggins
Collected Nassir Little
Collected Dereck Lively II
Collected Zach Lofton
Collected Kevon Looney
Collected Brook Lopez
Collected Robin Lopez
Collected Kyle Lowry
Collected Gabriel Lundberg
Collected Seth Lundy
Collected Tyler Lydon
Collected Trey Lyles
Collected Daryl Macon
Collected Josh Magette
Collected Ian Mahinmi
Collected Thon Maker
Collected Tre Mann
Collected Nico Mannion
Collected Naji Marshall
Collected KJ Martin
Collected Tyrese Martin
Starting Sleep
Collected Frank Mason III
Collected Tyrese Maxey
Collected James Michael McAdoo
Collected Patrick McCaw
Collected Mac McClung
Collected T.J. McConnell
Collected Erik McCree
Collected Chris McCullough
Collected Jalen McDaniels
Collected Doug McDermott
Collected Sean McDermott
Collected JaVale McGee
Collected Bryce McGowens
Collected JaQuori McLaughlin
Collected Jordan McLaughlin
Collected Ben McLemore
Collected Jordan McRae
Collected Josh McRoberts
Collected Nicolo Melli
Collected Chimezie Metu
Collected Vasilije Micic
Collected Eric Mika
Collected CJ Miles
Collected Brandon Miller
Collected Darius Miller
Collected Jordan Miller
Collected Leonard Miller
Collected Malcolm Miller
Collected Paul Millsap
Collected Justin Minaya
Collected Josh Minott
Collected Nikola Mirotic
Collected Chima Moneke
Collected Malik Monk
Collected Luis Montero
Collected Xavier Moon
Collected Matt Mooney
Collected E'Twaun Moore
Collected Eric Moreland
Collected Emmanuel Mudiay
Collected Shabazz Muhammad
Collected Ade Murkey
Collected Jamal Murray
Collected Larry Nance Jr.
Collected Andrew Nembhard
Collected RJ Nembhard Jr.
Collected Malik Newman
Collected Daishen Nix
Collected Zeke Nnaji
Collected Joakim Noah
Collected Nerlens Noel
Collected Zach Norvell Jr.
Collected Markquis Nowell
Collected David Nwaba
Collected Kyle O'Quinn
Collected Semi Ojeleye
Collected Jahlil Okafor
Collected Onyeka Okongwu
Collected Isaac Okoro
Collected Eugene Omoruyi
Collected Chinanu Onuaku
Collected Cedi Osman
Collected Kelly Oubre Jr.
Collected Trayvon Palmer
Collected Kevin Pangos
Collected Jeremy Pargo
Collected Jabari Parker
Collected Chandler Parsons
Collected Eric Paschall
Collected Anzejs Pasecniks
Collected Patrick Patterson
Collected Adreian Payne
Collected Elfrid Payton
Collected Gary Payton II
Collected Norvel Pelle
Collected Reggie Perry
Collected Alec Peters
Collected Julian Phillips
Starting Sleep
Collected Jamorko Pickett
Collected Theo Pinson
Collected Scotty Pippen Jr.
Collected Mason Plumlee
Collected Brandin Podziemski
Collected Aleksej Pokusevski
Collected Quincy Pondexter
Collected Craig Porter Jr.
Collected Jontay Porter
Collected Bobby Portis
Collected Micah Potter
Collected Joshua Primo
Collected Taurean Prince
Collected Payton Pritchard
Collected Jacob Pullen
Collected Rodney Purvis
Collected Tim Quarterman
Collected Trevelin Queen
Collected Lester Quinones
Collected Ivan Rabb
Collected Chasson Randle
Collected Julius Randle
Collected Cam Reynolds
Collected Nick Richards
Collected Malachi Richardson
Collected Grant Riller
Collected Andre Roberson
Collected Devin Robinson
Collected Jerome Robinson
Collected Mitchell Robinson
Collected Glenn Robinson III
Collected Jeremiah Robinson-Earl
Collected Isaiah Roby
Collected David Roddy
Collected Rajon Rondo
Collected Terrence Ross
Collected Terry Rozier
Collected D'Angelo Russell
Collected Luka Samanic
Collected JaKarr Sampson
Collected Samardo Samuels
Collected Jermaine Samuels Jr.
Collected Adama Sanogo
Collected Dario Saric
Collected Olivier Sarr
Collected Tomas Satoransky
Collected Admiral Schofield
Collected Trevon Scott
Collected Brice Sensabaugh
Collected Ramon Sessions
Collected Collin Sexton
Collected Landry Shamet
Collected Day'Ron Sharpe
Collected Pascal Siakam
Collected Xavier Silas
Collected Zavier Simpson
Collected Marcus Smart
Collected Dru Smith
Collected Jalen Smith
Collected Jason Smith
Collected Josh Smith
Collected Terquavion Smith
Collected Dennis Smith Jr.
Collected Xavier Sneed
Collected Tony Snell
Collected Ray Spalding
Collected DJ Stephens
Collected Julyan Stone
Collected Max Strus
Collected Edmond Sumner
Starting Sleep
Collected Craig Sword
Collected Keifer Sykes
Collected Jae'Sean Tate
Collected Jayson Tatum
Collected Marquis Teague
Collected Milos Teodosic
Collected Jared Terrell
Collected Daniel Theis
Collected Brodric Thomas
Collected Isaiah Thomas
Collected Amen Thompson
Collected Ausar Thompson
Collected Klay Thompson
Collected Tristan Thompson
Collected Sindarius Thornwell
Collected Matisse Thybulle
Collected Killian Tillie
Collected Xavier Tillman
Collected Obi Toppin
Collected Juan Toscano-Anderson
Collected Karl-Anthony Towns
Collected Gary Trent Jr.
Collected Allonzo Trier
Collected Oscar Tshiebwe
Collected Evan Turner
Collected Myles Turner
Collected Tyler Ulis
Collected Stanley Umude
Collected Denzel Valentine
Collected Fred VanVleet
Collected Jarred Vanderbilt
Collected Dean Wade
Collected Dion Waiters
Collected MJ Walker
Collected Lonnie Walker IV
Collected Cason Wallace
Collected Jordan Walsh
Collected Derrick Walton Jr.
Collected Casper Ware
Collected Jameel Warney
Collected Julian Washburn
Collected Duane Washington Jr.
Collected TyTy Washington Jr.
Collected Tremont Waters
Collected Trendon Watford
Collected Paul Watson
Collected Briante Weber
Collected Thomas Welsh
Collected Victor Wembanyama
Collected Blake Wesley
Collected Russell Westbrook
Collected Coby White
Collected Isaiah Whitehead
Collected Greg Whittington
Collected Aaron Wiggins
Collected Andrew Wiggins
Collected Lindell Wigginton
Collected C.J. Wilcox
Collected Alan Williams
Collected C.J. Williams
Collected Grant Williams
Collected Kenrich Williams
Collected Lou Williams
Collected Mark Williams
Collected Troy Williams
Collected D.J. Wilson
Collected Jalen Wilson
Collected Jamil Wilson
Collected Justise Winslow
Collected Cassius Winston
Collected James Wiseman
Collected Jeff Withey
Collected Isaiah Wong
Starting Sleep
Collected Moses Wright
Collected McKinley Wright IV
Collected Justin Wright-Foreman
Collected Guerschon Yabusele
Collected Tyler Zeller
Collected Zhou Qi
Collected Paul Zipser
Collected Ante Zizic
Collected Ivica Zubac

In [1273]:
player_birthday_df = pd.DataFrame(active_player_birthdays, columns = ["Name", "Team", "Birthday", "From_Year", "To_Year"])
player_birthday_df = player_birthday_df.merge(filtered_player_birthdays[["Name", "id"]], on = ["Name"])
player_birthday_df = player_birthday_df[player_birthday_df["Team"] != ""]
player_birthday_df = player_birthday_df.reset_index().drop("index", axis = 1)

player_birthday_df

                   Name Team    Birthday  From_Year  To_Year       id
0             Deng Adel  CLE  1997-02-01       2018     2018  1629061
1          Santi Aldama  MEM  2001-01-10       2021     2023  1630583
2          Cole Aldrich  NYK  1988-10-31       2010     2017   202332
3          Rawle Alkins  CHI  1997-10-29       2018     2018  1628959
4         Jose Alvarado  NOP  1998-04-12       2021     2023  1630631
..                  ...  ...         ...        ...      ...      ...
388  Guerschon Yabusele  BOS  1995-12-17       2016     2018  1627824
389        Tyler Zeller  BOS  1990-01-17       2012     2019   203092
390         Paul Zipser  CHI  1994-02-18       2016     2017  1627835
391          Ante Zizic  CLE  1997-01-04       2017     2019  1627790
392         Ivica Zubac  LAC  1997-03-18       2016     2023  1627826

[393 rows x 6 columns]

In [1274]:
away_games = pd.merge(betting_lines, all_games_filtered_columns, how = "left", left_on = ["game_date", "visit_team_abbrev"], right_on = ["GAME_DATE", "TEAM_NAME"]).dropna()

home_games = pd.merge(betting_lines, all_games_filtered_columns, how = "left", left_on = ["game_date", "home_team_abbrev"], right_on = ["GAME_DATE", "TEAM_NAME"]).dropna()

merged_data = pd.concat([home_games, away_games]).reset_index().drop("index", axis = 1)
merged_data = merged_data.drop(["GAME_DATE"], axis = 1)

In [1343]:
merged_data.to_csv("MergedData.csv", index=False)

In [1275]:
birthday_games_df = mark_birthday_games(merged_data, player_birthday_df, 1)

In [1272]:
def team_covered(games_df, teams):
    
    games_df["team_covered"] = 0
    covered = {}
    
    for team in teams:
        for index, game_row in games_df[games_df["TEAM_NAME"] == team].iterrows():
            if ((game_row["favorite"] == team) and (game_row["favorite_covered"] == 1)) | ((game_row["favorite"] != team) and (game_row["underdog_covered"] == 1)):
                covered[index] = 1
            else:
                covered[index] = 0
    
    games_df["team_covered"] = games_df.index.map(covered)
    
    return games_df

In [ ]:
birthday_games_df

In [1276]:
birthday_games_df = team_covered(birthday_games_df, pd.unique(birthday_games_df["home_team_abbrev"]))

In [1277]:
birthday_games_df

       game_date home_team_abbrev  ... birthday_game  team_covered
0     2017-10-17              CLE  ...             0             0
1     2017-10-17              GSW  ...             0             0
2     2017-10-18              DET  ...             0             1
3     2017-10-18              IND  ...             0             1
4     2017-10-18              ORL  ...             0             1
...          ...              ...  ...           ...           ...
16590 2024-02-27              ATL  ...             0             0
16591 2024-02-27              BOS  ...             0             0
16592 2024-02-27              NYK  ...             0             1
16593 2024-02-27              MIL  ...             1             0
16594 2024-02-27              MIN  ...             0             1

[16595 rows x 19 columns]

In [1342]:
filtered_player_birthdays

               Name  Birthdate       id
10        Deng Adel 1997-02-01  1629061
11      Jeff Adrien 1986-02-10   202399
15     Josh Akognon 1986-02-10   203006
16    Solomon Alabi 1988-03-21   202374
18     Santi Aldama 2001-01-10  1630583
...             ...        ...      ...
2303   Tyler Zeller 1990-01-17   203092
2305        Zhou Qi 1996-01-16  1627753
2307    Paul Zipser 1994-02-18  1627835
2308     Ante Zizic 1997-01-04  1627790
2310    Ivica Zubac 1997-03-18  1627826

[713 rows x 3 columns]

In [1283]:
birthday_games_df.columns

Index(['game_date', 'home_team_abbrev', 'visit_team_abbrev', 'home_team_score',
       'visit_team_score', 'game_over_under', 'line', 'favorite', 'score',
       'total', 'over_hit', 'under_hit', 'favorite_covered',
       'underdog_covered', 'TEAM_NAME', 'MATCHUP', 'WL', 'birthday_game',
       'team_covered'],
      dtype='object')

In [1281]:
birthday_games_df[["TEAM_NAME", "team_covered", "birthday_game"]].groupby(["TEAM_NAME", "birthday_game"]).value_counts()["CLE"]

birthday_game  team_covered
0              0               223
               1               170
1              0                77
               1                74
dtype: int64

In [1227]:
birthday_games_df[["favorite", "favorite_covered", "underdog_covered", "TEAM_NAME", "team_covered"]][birthday_games_df["TEAM_NAME"] == "CLE"]

     favorite  favorite_covered  underdog_covered TEAM_NAME  team_covered
0         CLE                 0                 1       CLE             0
28        CLE                 0                 1       CLE             0
48        CLE                 0                 1       CLE             1
89        CLE                 0                 1       CLE             1
105       CLE                 0                 1       CLE             1
...       ...               ...               ...       ...           ...
8247      CLE                 0                 1       CLE             0
8255      CLE                 1                 0       CLE             1
8276      CLE                 1                 0       CLE             0
8326      CLE                 0                 1       CLE             0
8341      CLE                 0                 1       CLE             1

[544 rows x 5 columns]

In [1011]:
birthday_games_df[["birthday_game"]].value_counts()

birthday_game
0                5849
1                2551
dtype: int64

In [1176]:
birthday_games_df[["TEAM_NAME", "home_team_abbrev", "favorite", "favorite_covered", "birthday_game"]][(birthday_games_df["home_team_abbrev"] == "SAC") | (birthday_games_df["visit_team_abbrev"] == "SAC")].groupby(["TEAM_NAME", "favorite_covered", "birthday_game"]).value_counts()["SAC"]

favorite  favorite_covered  birthday_game  home_team_abbrev
ATL       0                 0              SAC                 1
          1                 0              ATL                 4
                            1              SAC                 1
BKN       0                 0              SAC                 2
                                           BKN                 1
                                                              ..
WAS       0                 1              WAS                 2
                                           SAC                 2
          1                 0              WAS                 1
                                           SAC                 1
                            1              SAC                 1
Length: 223, dtype: int64

In [1159]:
birthday_games_df[["birthday_game"]][(birthday_games_df["home_team_abbrev"] == "SAC") | (birthday_games_df["visit_team_abbrev"] == "SAC")].value_counts()

birthday_game
0                690
1                356
dtype: int64

In [1284]:
from scipy.stats import chi2_contingency

In [1285]:
contingency_table = pd.crosstab(birthday_games_df['team_covered'], birthday_games_df['birthday_game'])

# Print contingency table (optional)
print("Contingency Table:")
print(contingency_table)

# Chi-square test of independence
chi2, p, dof, expected = chi2_contingency(contingency_table)

# Print test statistics
print("\nChi-square Statistic:", chi2)
print("P-value:", p)
print("Degrees of Freedom:", dof)
print("Expected Frequencies Table:")
print(expected)

Contingency Table:
birthday_game     0     1
team_covered
0              5880  2574
1              5663  2478

Chi-square Statistic: 0.0
P-value: 1.0
Degrees of Freedom: 1
Expected Frequencies Table:
[[5880.35685447 2573.64314553]
 [5662.64314553 2478.35685447]]

In [1318]:
def chi_square_test_for_team(group):
    contingency_table = pd.crosstab(group['team_covered'], group['birthday_game'])
    chi2, p, dof, expected = chi2_contingency(contingency_table)
    return chi2, p, dof, expected

# Group by 'TEAM_NAME' and apply the function
results = birthday_games_df.groupby('TEAM_NAME').apply(chi_square_test_for_team)

# Print results for each team
for team, result in results.items():
    chi2, p, dof, expected = result
    if p <= .1:
        print(f"\nTeam: {team}")
        print("Chi-square Statistic:", chi2)
        print("P-value:", p)
        print("Degrees of Freedom:", dof)
        print("Expected Frequencies Table:")
        print(expected)

Team: CHA
Chi-square Statistic: 3.8590361487173155
P-value: 0.04947874481412501
Degrees of Freedom: 1
Expected Frequencies Table:
[[163.41085271 108.58914729]
 [146.58914729  97.41085271]]

Team: DEN
Chi-square Statistic: 2.7523429401223805
P-value: 0.09711203067019762
Degrees of Freedom: 1
Expected Frequencies Table:
[[217.65313029  89.34686971]
 [201.34686971  82.65313029]]

Team: IND
Chi-square Statistic: 1.9682304534560189
P-value: 0.1606358146747501
Degrees of Freedom: 1
Expected Frequencies Table:
[[188.03696858  83.96303142]
 [185.96303142  83.03696858]]

Team: MEM
Chi-square Statistic: 2.1102979268663384
P-value: 0.14631083036545778
Degrees of Freedom: 1
Expected Frequencies Table:
[[186.71323529  81.28676471]
 [192.28676471  83.71323529]]

Team: OKC
Chi-square Statistic: 9.056910300612039
P-value: 0.00261703834009946
Degrees of Freedom: 1
Expected Frequencies Table:
[[189.2393321  65.7606679]
 [210.7606679  73.2393321]]

Team: ORL
Chi-square Statistic: 2.1928607081327387
P-value: 0.13865159035518498
Degrees of Freedom: 1
Expected Frequencies Table:
[[179.5  86.5]
 [179.5  86.5]]

Team: POR
Chi-square Statistic: 1.8283569920794145
P-value: 0.1763217327074872
Degrees of Freedom: 1
Expected Frequencies Table:
[[205.21518987  88.78481013]
 [180.78481013  78.21518987]]

Team: SAC
Chi-square Statistic: 2.1981119617025247
P-value: 0.1381798921733075
Degrees of Freedom: 1
Expected Frequencies Table:
[[169.53154876  87.46845124]
 [175.46845124  90.53154876]]

In [1304]:
from scipy.stats import ttest_ind

# Assuming birthday_games_df is your pandas DataFrame
# Replace 'WL' with the actual column name representing win-loss outcomes

# Separate data for birthday games and non-birthday games
birthday_games = birthday_games_df[birthday_games_df['birthday_game'] == 1]['WL']
birthday_games = birthday_games.apply(lambda x: wl_dict[x])
non_birthday_games = birthday_games_df[birthday_games_df['birthday_game'] == 0]['WL']
non_birthday_games = non_birthday_games.apply(lambda x: wl_dict[x])

# Perform t-test
t_statistic, p_value = ttest_ind(birthday_games, non_birthday_games)

# Print results
print("T-Statistic:", t_statistic)
print("P-value:", p_value)

T-Statistic: 0.005135201908661543
P-value: 0.9959027814209129

In [1348]:
wl_dict = {'W': 1, 'L': 0}

In [1316]:
from scipy.stats import ttest_ind

# Assuming birthday_games_df is your pandas DataFrame
# Replace 'WL' with the actual column name representing win-loss outcomes
# Replace 'TEAM_NAME' with the actual column name representing team names

# Define a function to perform t-test for each team
def t_test_for_team(group):
    birthday_games = group[group['birthday_game'] == 1]['WL']
    birthday_games = birthday_games.apply(lambda x: wl_dict[x])
    non_birthday_games = group[group['birthday_game'] == 0]['WL']
    non_birthday_games = non_birthday_games.apply(lambda x: wl_dict[x])
    
    t_statistic, p_value = ttest_ind(birthday_games, non_birthday_games)
    return t_statistic, p_value

# Group by 'TEAM_NAME' and apply the function
results = birthday_games_df.groupby('TEAM_NAME').apply(t_test_for_team)

# Print results for each team
for team, result in results.items():
    t_statistic, p_value = result
    if p_value <= .10:
        print(f"\nTeam: {team}")
        print("T-Statistic:", t_statistic)
        print("P-value:", p_value)

Team: CHA
T-Statistic: -1.7950315269254722
P-value: 0.07323604895632055

Team: DET
T-Statistic: -1.6790742363110507
P-value: 0.09374413530721767

Team: IND
T-Statistic: -1.6834434337141349
P-value: 0.09286831379429852

Team: MEM
T-Statistic: 2.1420801392698556
P-value: 0.032631995097883976

Team: OKC
T-Statistic: 2.599955483951792
P-value: 0.009580219905293284

Team: PHI
T-Statistic: 1.8553696425941235
P-value: 0.06405147396409794

In [1323]:
birthday_games_df[birthday_games_df["TEAM_NAME"] != birthday_games_df["home_team_abbrev"]].groupby("home_team_abbrev").apply(t_test_for_team)

home_team_abbrev
ATL      (1.4395705551839468, 0.15113458868955143)
BKN       (0.2541123710176615, 0.7995965953203449)
BOS      (0.39079601553087234, 0.6962208487101673)
CHA      (1.2490908371998273, 0.21277725119000712)
CHI       (-0.45678099606280065, 0.64821280101093)
CLE      (0.30938506368328594, 0.7572629174288827)
DAL      (-0.1883648300676678, 0.8507280945341115)
DEN      (-0.3120124716429323, 0.7552537215044841)
DET        (0.7710671582728142, 0.441378205044722)
GSW      (0.49180125923325035, 0.6232171156608044)
HOU      (-0.2919025534538945, 0.7705765157399009)
IND       (0.8660209389507252, 0.3872591153456292)
LAC      (0.23509230030357836, 0.8143101683674061)
LAL     (-0.30176071073886024, 0.7630561118220924)
MEM    (-2.2958657051113547, 0.022447182305407046)
MIA     (-0.07593572588711356, 0.9395217048691604)
MIL       (0.2878371956579998, 0.7736727902691102)
MIN         (0.554435648709452, 0.579755496820518)
NOP     (-0.14885116535714016, 0.8817860200554694)
NYK     (-0.17191291867771505, 0.8636371993035333)
OKC    (-2.0566228161040776, 0.040694206630617714)
ORL      (-1.218538306846898, 0.22412823777981405)
PHI     (-0.16906664837512153, 0.8658620819204377)
PHX      (-0.3142879513764879, 0.7535330988474527)
POR     (-1.3939647924107836, 0.16446596495772328)
SAC      (1.0990608991793844, 0.27277807417733124)
SAS       (0.2824351592248685, 0.7778363043287584)
TOR      (-0.937769438629038, 0.34915414807722533)
UTA      (-0.709505762267005, 0.47861179917118146)
WAS     (-1.2169272655296555, 0.22472693733117666)
dtype: object

In [1324]:
birthday_games_df[birthday_games_df["TEAM_NAME"] == birthday_games_df["home_team_abbrev"]].groupby("home_team_abbrev").apply(t_test_for_team)

home_team_abbrev
ATL    (-1.4395705551839486, 0.15113458868955104)
BKN    (-0.25411237101766065, 0.7995965953203455)
BOS    (-0.39079601553087234, 0.6962208487101673)
CHA    (-1.2490908371998282, 0.21277725119000676)
CHI      (0.4960501932148794, 0.6202796814093444)
CLE    (-0.30938506368328683, 0.7572629174288821)
DAL     (0.18836483006766602, 0.8507280945341127)
DEN      (0.3120124716429323, 0.7552537215044841)
DET    (-0.7710671582728135, 0.44137820504472247)
GSW     (-0.4918012592332494, 0.6232171156608052)
HOU     (0.29190255345389443, 0.7705765157399009)
IND     (-0.8660209389507252, 0.3872591153456292)
LAC    (-0.23509230030357925, 0.8143101683674054)
LAL     (0.30176071073885935, 0.7630561118220933)
MEM     (2.295865705111355, 0.022447182305407008)
MIA     (0.07593572588711521, 0.9395217048691591)
MIL    (-0.28783719565800076, 0.7736727902691094)
MIN     (-0.5544356487094536, 0.5797554968205167)
NOP     (0.14885116535713847, 0.8817860200554707)
NYK     (0.17191291867771508, 0.8636371993035333)
OKC    (2.0566228161040776, 0.040694206630617714)
ORL     (1.2185383068468973, 0.22412823777981422)
PHI       (0.1690666483751225, 0.865862081920437)
PHX     (0.31428795137648874, 0.7535330988474521)
POR     (1.3939647924107832, 0.16446596495772337)
SAC     (-1.0990608991793835, 0.2727780741773317)
SAS     (-0.2824351592248685, 0.7778363043287584)
TOR      (0.937769438629038, 0.34915414807722533)
UTA       (0.709505762267006, 0.4786117991711806)
WAS     (1.2169272655296564, 0.22472693733117632)
dtype: object

In [1314]:
# Group by 'TEAM_NAME' and 'home_team_abbrev' (city) and apply the function
results = birthday_games_df.groupby(['TEAM_NAME', 'home_team_abbrev']).apply(t_test_for_team)

# Print results for each team and city
for (team, city), result in results.items():
    t_statistic, p_value = result
    if (p_value < .05) and (abs(t_statistic) != np.inf):
        print(f"\nTeam: {team}, City: {city}")
        print("T-Statistic:", t_statistic)
        print("P-value:", p_value)

/Users/ben/anaconda3/lib/python3.11/site-packages/scipy/stats/_stats_py.py:1214: RuntimeWarning: divide by zero encountered in divide
  var *= np.divide(n, n-ddof)  # to avoid error on division by zero
/Users/ben/anaconda3/lib/python3.11/site-packages/scipy/stats/_stats_py.py:1214: RuntimeWarning: invalid value encountered in scalar multiply
  var *= np.divide(n, n-ddof)  # to avoid error on division by zero
/var/folders/s1/3gpr8bhn35jfwpp_kp1ny2w80000gn/T/ipykernel_18930/2101067165.py:14: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  t_statistic, p_value = ttest_ind(birthday_games, non_birthday_games)

Team: HOU, City: DEN
T-Statistic: 2.4337372337779035
P-value: 0.033189140421799455

Team: LAC, City: PHX
T-Statistic: 2.442316990216822
P-value: 0.02581342101313369

Team: MEM, City: HOU
T-Statistic: -3.562626515972126
P-value: 0.004452286189469762

Team: MEM, City: MEM
T-Statistic: 2.295865705111355
P-value: 0.022447182305407008

Team: MIL, City: BKN
T-Statistic: 2.5495097567963922
P-value: 0.024215051722005176

Team: MIN, City: GSW
T-Statistic: 2.2809967098135044
P-value: 0.04345998196469156

Team: NOP, City: OKC
T-Statistic: -2.9580398915498085
P-value: 0.014336107062361972

Team: NYK, City: BOS
T-Statistic: 2.5318484177091665
P-value: 0.02977639721939338

Team: OKC, City: OKC
T-Statistic: 2.0566228161040776
P-value: 0.040694206630617714

Team: ORL, City: CHA
T-Statistic: 2.455163805847503
P-value: 0.03644666583038085

Team: ORL, City: WAS
T-Statistic: -2.756913983540959
P-value: 0.020236688803349834

Team: PHI, City: BOS
T-Statistic: 2.696799449852968
P-value: 0.013874806517073488

Team: POR, City: SAS
T-Statistic: -2.449489742783178
P-value: 0.03996852371395767

Team: UTA, City: DAL
T-Statistic: 2.7543967459607304
P-value: 0.018742725969189793

In [1340]:
# Create full results list
full_results = []
# Group by 'TEAM_NAME' and apply chi-square test to check significance
results = birthday_games_df.groupby('TEAM_NAME').apply(chi_square_test_for_team)

# Print results for each team
full_results.append(("Chi-Square"))
for team, result in results.items():
    chi2, p, dof, expected = result
    if p <= .1:
        full_results.append((team, "Chi-square Statistic:", chi2, "P-value:", p))
        
# Group by "Team Name" and apply t-test for each team
results = birthday_games_df.groupby('TEAM_NAME').apply(t_test_for_team)

# Print results for each team
full_results.append(("T-Test Team"))
for team, result in results.items():
    t_statistic, p_value = result
    if p_value <= .10:
        full_results.append(("Team:", team, "T-Statistic:", t_statistic, "P-value:", p_value))

# Group by "Team Name" and "Home Team abbrev (city)" and apply t-test for each team
results = birthday_games_df.groupby(['TEAM_NAME', 'home_team_abbrev']).apply(t_test_for_team)

# Print results for each team and city
full_results.append(("T-Test Team and City"))
for (team, city), result in results.items():
    t_statistic, p_value = result
    if (p_value < .05) and (abs(t_statistic) != np.inf):
        full_results.append(("Team:", team, "City:", city, "T-Statistic:", t_statistic, "P-value:", p_value))

/Users/ben/anaconda3/lib/python3.11/site-packages/scipy/stats/_stats_py.py:1214: RuntimeWarning: divide by zero encountered in divide
  var *= np.divide(n, n-ddof)  # to avoid error on division by zero
/Users/ben/anaconda3/lib/python3.11/site-packages/scipy/stats/_stats_py.py:1214: RuntimeWarning: invalid value encountered in scalar multiply
  var *= np.divide(n, n-ddof)  # to avoid error on division by zero
/var/folders/s1/3gpr8bhn35jfwpp_kp1ny2w80000gn/T/ipykernel_18930/506790066.py:14: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  t_statistic, p_value = ttest_ind(birthday_games, non_birthday_games)

In [1341]:
def write_tuples_to_txt(tuples_list, file_path):
    try:
        with open(file_path, 'w') as file:
            for tup in tuples_list:
                line = ' '.join(map(str, tup)) + '\n'
                file.write(line)
        print(f"Data written to {file_path} successfully.")
    except Exception as e:
        print(f"Error writing data to {file_path}: {e}")

# Example usage:
tuples_list = [(1, 'apple'), (2, 'banana'), (3, 'cherry')]
file_path = 'data.txt'

write_tuples_to_txt(full_results, "Results.txt")

Data written to Results.txt successfully.

In [1356]:
merged_data[merged_data["home_team_abbrev"] != merged_data["TEAM_NAME"]]["birthday_game"].value_counts()

0    5771
1    2526
Name: birthday_game, dtype: int64

In [1357]:
5771+2526

8297